body {
    font-family: 'Rubik' sans-serif;
}
.search{
    width: 275px;
}

.name-nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.names-nav {
text-decoration: none;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #7F7F7F;
}

.main-news{
    list-style: none;

}

.second-adv{
    background-color: coral;
}

.main-news-text {
list-style: none;
font-weight: 500;
font-size: 20px;
line-height: 26px;

color: #000000;
}
.end-of-news {
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #5E5F61;
}

.end-of-site {
    background: #7297EF;
}

.namanganlikla {
font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color:white;
}
.text-of-futer {
    color: white;
}
.text-of-ul {
    list-style: none;
    color: white;
}
.text-of-li {
    text-decoration: none;
 color: white;
}